<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Login </title>
</head>
<body>

    <form action="/login/create" method="post">
        <h1>Authorization</h1>
    <p><label>Email:</label> <input type="text" name="email" value="" required/>
    <p><label>Password:</label> <input type="password" name="password" value="" required/>
<!--    <p><input type="checkbox" name="remainme" /> Remember me-->
    <p><input type="submit" value="Enter" />
    <hr align=left width="300px">

        <a href="/register"> Registration </a>
    </form>

</body>
</html>
