{% extends "layout.html" %}

{% block header %}

<div class="nav-header">
    <div class="brand-logo">
        <a href="index.html">
            <b class="logo-abbr"><img src="/static/images/logo.png" alt=""> </b>
            <span class="/static/logo-compact"></span>
            <span class="brand-title">
                <img src="/static/images/logo-text.png" alt="">
            </span>
        </a>
    </div>
</div>

<div class="header">
    <div class="header-content clearfix">

        <div class="header-left">
            <div class="input-group icons">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1">Welcome to the chat<i></i></span>
                </div>
            </div>
        </div>

        <div class="header-right">
            <ul class="clearfix">
                <li class="icons dropdown"><a href="javascript:void(0)" data-toggle="dropdown">

                </a>
                </li>

                <li class="icons dropdown"><a href="javascript:void(0)" data-toggle="dropdown">
                <li class="icons dropdown"><a href="javascript:void(0)" data-toggle="dropdown">
                <form action="/" method="post">
                    <button type="submit" class="btn mb-1 btn-primary">Back</button>
                </form>
            </a>
            </li>
                </a>
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}

{% block body %}

<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-lg-4 col-sm-6">
        </div>
        <div class="col-lg-4 col-sm-6">
        </div>
        <div class="col-lg-4 col-sm-6">
        </div>
    </div>

    <form action="/chat" method="post">
        {{ form.csrf_token }}
        <div class="row">

            <div class="col-lg-10 col-sm-6">
                {{ form.name( class='form-control input-default', placeholder='Input Default') }}
            </div>

            <div class="col-lg-2 col-sm-6">
                <button type="submit" class="btn mb-1 btn-outline-success">Send</button>
            </div>

        </div>
    </form>
    <br>


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Messages</h4>
                <div class="table-responsive">

                    <table class="table table-bordered verticle-middle">
                        <thead>
                        <tr>
                            {% for header in headings_messages %}
                            <th class="table__cell"><h4>{{ header }}</h4></th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for el in bring %}
                        <tr>

                            <td><h5>{{el.user.name}}</h5></td>

                            <td><h5>{{el.message}}</h5></td>

                            <td><h5>{{el.created_at.strftime("%d.%m.%Y %H:%M")}}</h5></td>

                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

